ul{
    display: flex;
}
.navbar__li{
    margin-top: 20px;
    text-decoration: none;
    margin-left: 0px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    color: white;
    list-style-type: none;
}

.navbar__li:hover{
    background-color: rgb(164, 54, 54);
    color: white;
    list-style: none;

}